.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3.4rem 1.6rem 1.6rem 1.6rem;
  & > .title {
    font-size: 1.6rem;
    font-weight: 400;
    color: $primary1;
  }

  & > .info {
    width: 100%;
    padding-left: 4rem;
    margin-top: 3rem;

    .name,
    .birthday {
      font-size: 0.86rem;
      font-weight: 600;
      color: $primary1;
    }

    .category_list {
      margin-top: 1.4rem;
      display: flex;
      flex-direction: column;
      gap: 0.4rem;

      .category {
        width: fit-content;

        & > p,
        & > a {
          width: 18rem;
          white-space: pre-wrap;
          line-height: 0.8rem;
          color: $primary2;
          font-size: 0.7rem;
          font-weight: 400;
        }
        & > .category_title {
          color: $primary1;
          font-size: 0.8rem;
          font-weight: 600;
        }

        a {
          text-decoration: underline;
        }
      }
    }
  }
}

@media (min-width: $tablet) {
  .wrapper {
    padding-left: 10rem;
    padding-right: 10rem;
  }
}

@media (min-width: $desktop) {
  .wrapper {
    padding-left: 30%;
    padding-right: 30%;
  }

  .title {
    font-size: 2.4rem !important;
  }

  .name,
  .birthday {
    width: 100% !important;
    font-size: 1.2rem !important;
    font-weight: 600;
  }

  p,
  a {
    width: 100% !important;
    font-size: 1.2rem !important;
    font-weight: 400;
  }
  .category_title {
    width: 100% !important;
    font-size: 1.4rem !important;
    font-weight: 600;
  }
}
